# Python cache files
__pycache__/
*.pyc

# Virtual environment folder
venv/

# IDE specific files (if using an IDE)
.vscode/
.idea/

# Cache directories
.cache/

# Distribution / packaging
*.egg-info/
dist/
build/

# Environment files (if sensitive)
.env
.env.local
*.env
